<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Doknosis</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel='stylesheet' href='/static/css/layout.css'>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

	 <script type="text/javascript">
	 	function clear_all() {
	 		console.log( 'clearing' );
	 		
	 		// Remove all symptons
	 		window.symptoms = []
	 		$( '.rm' ).fadeOut( 'fast', function() { $( this.parentNode ). remove() } );
	 		$( '#dokbot-waiting' ).hide();
	 		$( '#results' ).hide();
	 	}

	 	function get_diagnosis() {

 			if( window.symptoms.length == 0 ) {
 				alert( 'Please enter some symptoms first!' );
 				return;
 			}

 			$( '#results' ).hide();
 			$( '#results-list' ).html( '' );

	 		$( '#dokbot-waiting' ).fadeIn( 'fast', function() {

	 			var params = { 'findings': window.symptoms.join( ',' ) };
	 			params[ 'num_solutions' ] = $( '#num_solutions' ).val();
	 			params[ 'num_combinations' ] = $( '#num_combinations' ).val();
	 			params[ 'algorithm' ] = $( '#algorithm' ).val();

	 			$.getJSON( '/diagnosis_result', params, function( data ) {
	 				
	 				if( data.success ) {
	 					$( '#query-time' ).html( 'DB QUERY TIME: ' + data.query_time );

		 				$( '#results-list ' ).append( '<div style="margin:16px 0;"><strong>Most Likely:</strong> ' + data.greedy + '</div>' );

		 				var html = '<table><tr><th>Name</th><th>Score</th></tr>';
		 				for( var i = 0; i < data.other.length; i++ ) {
		 					html += '<tr><td>' + data.other[i][0] + '</td><td>' + data.other[i][1] + '</td></tr>'	
		 				}
		 				html += '</table>'
		 				$( '#results-list' ).append( html );

		 				$( '#dokbot-waiting' ).fadeOut( 'fast', function() {
		 					$( '#results' ).fadeIn();	
		 				} );

		 			} else {
		 				$( '#dokbot-waiting' ).hide();
		 			}

	 			});
	 		});
	 	}

		$( function() {

			// List of symptons to submit
			window.symptoms = [];

			// Remove symptom from list
			$( document ).on( 'click', '.rm', function() {
				var id = $( this ).data( 'sid' );

				// Loop through and attempt to find matching id
				for( var i = 0; i < window.symptoms.length; i++ ) {
					if( window.symptoms[i] === id ) {
						// Remove from array
						window.symptoms.splice( i, 1 );
					}
				}

				$( this.parentNode ).fadeOut( 'fast', function() { $( this ).remove(); } );
			});

			$( "#symptoms" ).autocomplete({
				source: '/api/finding/autocomplete',
				select: function(event, ui) {
					var text = ui.item.label;
			    	ui.item.value = '';
			
					$( '#symptoms-list > .help-block' ).remove();
					$( '#symptoms-list' ).append( '<span class="label"><span>' + text + 
						'</span><span data-sid="' + ui.item.id + '" class="rm">x</span></span>' );

					window.symptoms.push( ui.item.id );
				}
			});
	 	});
	 </script>

</head>

<body>
	<div class="topbar">
		<div class="fill">
			<div class="container">
				<a class="brand" href="#">Doknosis</a>
				<ul class="nav" style='display:none;'>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<form action="" class="pull-right">
					<input class="input-small" type="text" placeholder="Username">
					<input class="input-small" type="password" placeholder="Password">
					<button class="btn" type="submit">Sign in</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content">
			<div class="page-header">
				<h1>Differential Diagnosis</h1>
			</div>
			<div class="row">
				<div class="span10">
					<h2>Symptoms</h2>
					<div style='padding-right:16px;'>
						<div class='clearfix'>
							<div class='input'><input type='text' size='60' class='xlarge' id='symptoms' placeholder='Type symptoms here'></div>
						</div>
						<div class='well' style='margin-top:16px;overflow:auto;padding:8px 8px 0 8px;' id='symptoms-list'>
							<span class='help-block' style='text-align:center;margin-bottom:8px;'>No symptoms entered</span>
						</div>
					</div>
					<div id='dokbot-waiting' style='text-align:center;display:none;'>
						<img src='/static/img/dokbot.png'><h2>Getting your results...</h2>
					</div>
					<div id='results' style='display:none;'>
						<h2>Your Diagnosis</h2>
						<div id='results-list'>
						</div>
					</div>
				</div>			
				<div class="span4 form-stacked">
					<h3>Advanced Options</h3>
					<div id='advanced_options'>
						<div> 
							<label for='num_solutions'>Solutions</label>
							<select id="num_solutions"> 
								<option value="10">10</option> 
								<option value="1">1</option> 
								<option value="5">5</option> 
								<option value="20">20</option> 
							</select>
						</div>
						<div> 
							<label>Disease Combinations</label>
							<select id="num_combinations"> 
								<option value="1">1</option> 
								<option value="2">2</option> 
								<option value="3">3</option> 
								<option value="4">4</option> 
							</select>
						</div>
						<div> 
							<label>Algorithm</label>
							<select id="algorithm" class="drop_down"> 
								<option value="1">Hybrid 1</option> 
								<option value="2">Hybrid 2</option> 
								<option value="3">Bayesian</option> 
							</select>
						</div>
					</div>
					<div>
						<div id='query-time' style='color:#AAA;font-size:10px;'></div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='span16'>
					<button onclick='get_diagnosis()' type='submit' class='btn primary large'>Diagnose</button>
					<button onclick='clear_all()' type='submit' class='btn large'>Start Over</button>
				</div>
			</div>		
		</div>
	</div>
</body>
</html>