<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Doknosis</title>

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='/static/css/layout.css' type='text/css'>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src='static/js/doknosis.js'></script>
</head>

<body>
	<div id='banner-bar'>
		<div class="content">
			<div class="container">
				<div class="row" style='padding:16px;'>
					<div class='span3' style='padding-top:8px;'>
						<div id='logo'>Doknosis</div>
						<div>
							<a href='http://dhlab.org'><img src='/static/img/dhlab-logo.png' width='96px'></a>
						</div>
					</div>
					<div class="span8">
						<div style='float:right;'>
							<button onclick='get_diagnosis()' tabindex='2' type='submit' class='btn'>Diagnose</button>
							<button onclick='clear_all()' tabindex='3' type='submit' class='btn'>Start Over</button>
						</div>
						<div class='clearfix'>
							<div class='input'>
								<input type='text' size='90' tabindex='1' class='input-xlarge' id='symptoms' placeholder='Type Symptoms Here'>
							</div>
						</div>
						<div id='symptoms-list'>
							<div class='help-text'>No Symptoms Entered</div>
						</div>
					</div>
					<div style='display:none;'>
						<h3>Advanced Options</h3>
						<div id='advanced_options'>
							<div>
								<label for='num_solutions'>Solutions</label>
								<select id="num_solutions">
									<option value="10">10</option>
									<option value="1">1</option>
									<option value="5">5</option>
									<option value="20">20</option>
								</select>
							</div>
							<div>
								<label>Disease Combinations</label>
								<select id="num_combinations">
									<option value="1">1</option>
									<option value="2">2</option>
								</select>
							</div>
							<div>
								<label>Algorithm</label>
								<select id="algorithm" class="drop_down">
									<option value="1">Hybrid 1</option>
									<option value="2">Hybrid 2</option>
									<option value="3">Bayesian</option>
								</select>
							</div>
						</div>
						<div>
							<div id='query-time' style='color:#AAA;font-size:10px;'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='container' style='margin-top:8px;color:#999;'>
			<div style='padding: 0 16px;'>
				A powerful differential diagnosis engine developed by doctors, for doctors.
			</div>
			<div id='loading-indicator'>
				<div class='indicator-wrapper'>
					<div><img src='static/img/loading.gif'></div>
					<div style='margin-top:16px;'>Retrieving Diagnosis...</div>
				</div>
			</div>
			<div class='row'>
				<div id='results' class='span12'>
					<div style='padding:16px;'>
						<div id='results-list'></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>